#about-me {
  margin-top: 10px;
  margin-bottom: 50px;

  .wrapper {
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    h2 {
      font-family: "Raleway Medium", sans-serif;
      background-color: $charcoal;
      color: $white;
      font-size: 2.5em;

      @media screen and (min-width: $mobile-tablet) and (max-width: $tablet) {
        font-size: 3.5em;
      }

      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        font-size: 5em;
      }

      @media screen and (min-width: $desktop) {
        font-size: 6em;
      }
    }

    h3 {
      font-family: "Raleway", sans-serif;
      color: $orange;
      font-size: 1em;
      padding: 0.5em 0;

      @media screen and (min-width: 360px) {
        margin-top: 1em;
      }

      @media screen and (min-width: $mobile-tablet) and (max-width: $mobile-tablet) {
        font-size: 1.2em;
      }

      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        font-size: 2em;
      }

      @media screen and (min-width: $desktop) {
        font-size: 2.2em;
      }
    }

    .bio {
      @media screen and (min-width: $desktop) {
        width: 100%;
      }

      @media screen and (min-width: $tablet) {
        border-left: 5px solid $orange;
        padding-left: 25px;
      }

      p {
        font-family: "Raleway Medium", sans-serif;
        color: $font-primary;
        font-size: 0.75em;
        line-height: 1.3em;
        margin: 0.5em 0;

        @media screen and (min-width: 340px) and (max-width: $tablet) {
          font-size: 1em;
        }

        &:first-child {
          margin: 0;
        }

        @media screen and (min-height: $small-height) {
          line-height: 1.5em;
        }

        @media screen and (min-width: $tablet) {
          font-size: 1.1em;
        }
      }

      .profile-pic-wrapper {
        @media screen and (max-width: $x-large) {
          float: right;
        }

        @media screen and (min-width: $x-large) and (max-width: 1520px) {
          position: absolute;
          right: 350px;
        }

        @media screen and (min-width: 1520px) and (max-width: 1719px) {
          position: absolute;
          right: 600px;
        }

        @media screen and (min-width: 1720px) {
          position: absolute;
          right: 720px;
        }

        img {
          width: 150px;

          @media screen and (min-width: $desktop) {
            width: 200px;
          }
        }
      }
    }

    .get-in-touch {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 2em;

      @media screen and (min-width: 360px) {
        margin-top: 2em;
      }

      @media screen and (min-width: $tablet) {
        padding-left: 4em;
      }

      @media screen and (min-width: $desktop) {
        width: 80%;
      }

      @media screen and (min-width: $x-large) {
        margin-top: 6em;
      }

      .strapline {
        font-family: "Raleway", sans-serif;
        font-size: 2em;
        color: $orange;

        @media screen and (min-width: 340px) {
          font-size: 3em;
        }

        @media screen and (min-width: $tablet) {
          font-size: 4.5em;
        }
      }

      .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 0.2em;

        @media screen and (min-width: $desktop) {
          justify-content: flex-start;
          margin-left: 7em;
        }

        p {
          font-family: "Raleway", sans-serif;
          color: $font-primary;
          font-size: 1em;
          text-align: center;

          @media screen and (min-width: 340px) {
            font-size: 1.5em;
          }

          @media screen and (min-width: $tablet) {
            font-size: 2.1em;
          }
        }

        button {
          margin-left: 1em;
          background-color: $green;
          border: none;
          padding: 10px;
          color: $white;
          font-family: "Raleway Medium", sans-serif;
          font-size: 0.8em;
          cursor: pointer;

          @media screen and (min-width: 340px) {
            padding: 15px;
            font-size: 1.5em;
          }

          &:hover {
            background-color: lighten($green, 10%);
          }
        }
      }
    }

    .paw-image-wrapper {
      position: absolute;
      width: 150px;
      transform: rotate(-20deg);
      right: 35px;
      top: 300px;

      @media screen and (max-width: $x-large) {
        display: none;
      }
    }

    .second-paw-image-wrapper {
      @media screen and (max-width: $x-large) {
        display: none;
      }

      position: absolute;
      width: 150px;
      transform: rotate(10deg);
      right: 150px;
      top: 600px;
    }

    .third-paw-image-wrapper {
      @media screen and (max-width: $x-large) {
        display: none;
      }

      position: absolute;
      width: 150px;
      transform: rotate(20deg);
      right: 375px;
      top: 80px;
    }
  }
}
