#gallery {
  border-bottom: 3px solid $orange;

  .page-title {
    display: flex;
    background-color: darken($white, 5%);

    h1 {
      margin-top: 3px;
      color: $orange;
    }
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;

    .top-images {
      max-width: 1200px;
      margin: 0 auto;

      @media screen and (max-width: 660px) {
        margin-bottom: 4px;
      }

      figure {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;

        @media (max-width: 660px) {
          width: 100%;
        }
      }

      #gal1 {
        width: 33%;

        @media (max-width: 660px) {
          width: 50%;
        }
      }

      #gal2 {
        width: 33%;

        @media (max-width: 660px) {
          width: 50%;
        }

        @media (min-width: 661px) and (max-width: 854px) {
          width: 49%;
        }
      }

      #gal3 {
        width: 33.33%;

        @media (min-width: 855px) and (max-width: 1267px) {
          width: 33%;
        }

        @media (min-width: 661px) and (max-width: 854px) {
          width: 49%;
        }

        @media (max-width: 660px) {
          display: none;
        }
      }
    }

    .gallery-slider {
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 4px;
      overflow: hidden;

      @media (min-width: 661px) and (max-width: 854px) {
        margin-top: 15px;
      }

      @media (max-width: 660px) {
        margin-top: 0;
      }

      figure {
        position: relative;
        width: 600%;
        margin: 0;
        left: 0;
        animation: 30s slider infinite;

        img {
          width: 16.66667%;
          float: left;
        }
      }
    }

    .collage,
    .gallery-banner {
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 4px;
      overflow: hidden;

      @media (min-width: 661px) and (max-width: 854px) {
        margin-top: 15px;
      }

      img {
        width: 100%;
      }
    }

    .gallery-banner {
      margin-top: 0;
    }

    @keyframes slider {
      0% {
        left: 0;
      }
      15% {
        left: 0;
      }
      20% {
        left: -100%;
      }
      30% {
        left: -100%;
      }
      35% {
        left: -200%;
      }
      50% {
        left: -200%;
      }
      55% {
        left: -300%;
      }
      70% {
        left: -300%;
      }
      75% {
        left: -400%;
      }
      90% {
        left: -400%;
      }
      100% {
        left: -500%;
      }
    }
  }
}
