a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: $orange;
  }
}

h1,
h2,
h3,
h4,
p,
li,
span {
  padding: 0;
  margin: 0;
  color: $font-primary;
}

.hide-small-height {
  @media screen and (max-height: $small-height) {
    display: none;
  }
}

.hide-mob {
  @media screen and (max-width: 321px) {
    display: none;
  }
}

.hide-until-tablet {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  h1 {
    font-family: "Raleway", sans-serif;
    padding: 5px 20px;

    @media (min-width: $desktop) {
      margin-left: 5px;
    }

    @media (min-width: $mobile-tablet) {
      font-size: 2.5em;
    }
  }
}
