a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: $orange;
  }
}

h1,
h2,
h3,
h4,
p,
li,
span {
  padding: 0;
  margin: 0;
  color: $font-primary;
}

.hide-small-height {
  @media screen and (max-height: $small-height) {
    display: none;
  }
}

.hide-mob {
  @media screen and (max-width: 321px) {
    display: none;
  }
}

.hide-until-tablet {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
